/* Container for simulation */
.simulation-container {
  position: relative; /* Ensures absolute children are positioned relative to this container */
  width: 100%;
  height: 100vh; /* Take the full height of the screen */
  overflow: hidden; /* Prevent scrollbars */
}

/* Bar on the right side */
.bar {
  position: absolute; /* Position it inside the container */
  width: 40px;         /* Increased width for easier access */
  height: 300px;       /* Increased height for better button alignment */
  top: 30%;            /* Position from the top */
  right: 2%;           /* Position on the right */
  background-color: rgba(28, 224, 175, 0.9); /* Slight transparency */
  padding: 15px;
  border-radius: 12px;
  display: flex;       /* Vertical layout for buttons */
  flex-direction: column;  /* Stacking buttons vertically */
  gap: 3%;           /* Increased space between buttons */
  justify-content: center; /* Center buttons vertically */
  z-index: 2;
}

/* Styling for buttons inside the bar */
button.icon {
  height: 40px;        /* Increased size for better interaction */
  width: 40px;         /* Increased width */
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(204, 229, 200, 0.796); /* Slight transparency */
  cursor: pointer;
  border: none;        /* Remove default border */
  outline: none;       /* Remove focus outline */
}

button.icon:hover {
  background: rgb(24, 116, 94);
  transform: scale(1.1); /* Slight enlargement on hover */
}

button.icon:active {
  background-color: #cde7c6;
  border: #0a0a0a;
}

button.icon img {
  width: 28px;           /* Adjust icon size inside the button */
  height: 28px;
  object-fit: cover;
}
@keyframes dash-move {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -100; /* Negative value makes it move forward */
  }
}

.react-flow__edge {
  animation: dash-move 5s linear infinite;
}

.inputmenu{  
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  background-color: rgba(28, 224, 175, 0.9); /* Slight transparency */
  border-color: rgb(45, 98, 91);
  border-radius: 10px;
  width: 150px;
  height: 50px;
  position: absolute;
  top: 90px;
  right: 90px;  /* Open the save menu on the left */
  z-index: 2;
  transition: 0.2s;
}

.menudisplay{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  background-color: rgba(28, 224, 175, 0.9); /* Slight transparency */
  border-color: rgb(45, 98, 91);
  border-radius: 10px;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 60px;
  right: 90px;  /* Open the save menu on the left */
  z-index: 2;
  transition: 0.2s;
}
button.settype{
  height: 40px;        /* Increased size for better interaction */
  width: 80%; 
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:white; /* Slight transparency */
  border-color: rgb(45, 98, 91);
  color: rgb(45, 98, 91);;
  cursor: pointer;
  outline: none;       /* Remove focus outline */
}